<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>
<body>
    <div id="members-list">
        <header>
            <h1 id="main-title">AksuEasy</h1>
        </header>
            <h1>Welcome Aksu User</h1>
    <table>
        <tr>
            <th> Members Name</th>
        </tr>
        <tr>
            <!--
            <td>{{header; header.toLocaleUpperCase();}}</td>Inside double moustache only one expression can be executed-->
            <!--Also, Variables can't be declared and if statements cannt be executed but we can use ternary operator-->
            <td>{{header? header :'Welcome'}}</td>
        </tr>
        
    </table>
    <ul>
        <li v-for="item in items">{{item}}</li>
    </ul>
    <div>
    <input v-model="newItem" type="text" placeholder = "Add an Item" v-on:keyup.enter ="saveItem"><!--v:on can be replaced by @sign-->
    <button class = "btn btn-primary" @click="saveItem"> Save Item</button>
    </div>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script>
        var myList = new Vue({
            el:'#members-list',
            data:{
                header: 'Items Description',
                newItem: '',
                items:[
                    '10 Water Bottles',
                    '2 Cartoons of Milk',
                    '20 Posti Mainoksia',
                ]
            },
            methods:{
                saveItem: function(){
                    this.items.push(this.newItem);
                    this.newItem = '';
                }
            }
        });
    </script>    
</body>
</html>